@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  font-size: 16px !important;
}

.navbar{
  background-color: #003680 !important;
}
.nav-link{
  color: white !important;
}

.navbar-brand{
  color: white !important;
}

.navbar-nav{
  margin-left: auto !important;
}
.smallimg{
  height: 200px;
  width: 100% !important;
  border-radius: 5px !important;
}
h1{
  font-size: 20px !important;
}

.btn{
  background-color: black !important;
  color: white !important;
  box-shadow: none !important;
}
.bs{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px !important;
  border-radius: 5px !important;
  padding: 20px !important;
}
.bigimg{
  height: 400px;
  max-width: calc(100% - 10px);
}
input{
  box-shadow: none !important;
  margin-top: 10px;
  border: 1px solid black !important;
}
h2{
  font-size: 30px;
  padding: 10px;
  font-weight: bold !important;
  text-align: center;
}
.landing{
  background-color: #003680 !important;
  
  height: 100vh;
  
}
.landingbtn{
  background-color: white !important;
  color: #52aee5 !important;
  margin-top: 20px;
}
.dropdown-toggle{
  border: #003680 !important;
}

/* sample */
/* .auth-wrapper {
  width: 100%;
  height: 100%;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
} */





